@use '../../../scss/utilities/variables' as vars;
@use '../../../scss/utilities/placeholders';

.ProjectPage {
    &__innerGridContainer {
        display: grid;

        width: 100%;
        margin: 0 auto;

        @media (width >=vars.$xs) {
            grid-template-columns: 1fr;
            gap: 35px;
            grid-template-areas:
                "img"
                "body"
                "stack"
            ;
        }

        @media (width >=vars.$sm) {
            grid-template-columns: 550px;

            justify-content: center;
        }

        @media (width >=vars.$sm) {
            grid-template-columns: 550px;

            justify-content: center;
        }

        @media (width >=vars.$xl) {
            grid-template-columns: 650px 420px;
            grid-template-areas:
                "img stack"
                "body body"
            ;
        }
    }

    &__tile {
        padding: 30px;

        border-radius: vars.$border-radius;
        background-color: vars.$primary-light;
    }

    &__tileTitle {
        color: vars.$white;

        font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (1440 - 320)));
        font-weight: 700;
    }

    &__tileText {
        text-align: justify;

        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1440 - 320)));
        font-weight: 400;
        line-height: 1.563rem;
    }

    &__innerFlexContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    &__image {
        grid-area: img;

        margin: 0 auto;

        > img {
            max-width: 100%;
            margin: 0 auto;
            object-fit: cover;

            @media (width >=vars.$xs) {
                height: 250px;
            }

            @media (width >=vars.$sm) {
                height: auto;
            }

            @media (width >=vars.$xl) {
                width: 600px;
            }
        }
    }

    &__stack {
        grid-area: stack;
    }

    &__body {
        grid-area: body;
    }

    &__bodyControls {
        align-self: flex-start;

        @extend %controls
    }

}