@use '../../scss/utilities/variables' as vars;

.Tag {
    max-width: fit-content;
    padding: 5px 10px;

    cursor: default;

    border-radius: vars.$border-radius;

    font-weight: 700;

    &_blue {
        color: vars.$accent;
        background: rgba($color: vars.$accent, $alpha: 30%);
    }

    &_purple {
        color: vars.$purple;
        background: rgba($color: vars.$purple, $alpha: 30%);
    }

    &_ghost {
        color: vars.$dark-white;
        background: rgba($color: vars.$dark-white, $alpha: 30%);
    }

    &_yellow {
        color: vars.$yellow;
        background: rgba($color: vars.$yellow, $alpha: 30%);
    }

    &_pink {
        color: vars.$pink;
        background: rgba($color: vars.$pink, $alpha: 30%);
    }

    @media (width >=vars.$xs) {
        font-size: 0.75rem;
    }

    @media (width >=vars.$md) {
        font-size: 1rem;
    }
}