@use './variables' as vars;

%page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;

    @media (min-width: vars.$lg) {
        row-gap: 100px;
    }
}

%controls {
    display: flex;
    justify-content: center;

    column-gap: 30px;

    @media (min-width: vars.$lg) {
        justify-content: flex-start;
    }
}