.Skills {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 50px;
    display: grid;

    @media (min-width: 375px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}