@use '../../scss/utilities/variables' as vars;

.IconBox {
    background-color: vars.$primary-light;

    &_default {
        padding: 40px 60px;
        border-radius: vars.$border-radius;
    }

    &_small {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        justify-content: center;
        border-radius: 1.5rem;
    }

    &__icon {
        font-size: 9.375rem;
        color: vars.$white;
    }
}