@use '../../scss/utilities/variables' as vars;

.TextAccent {
    padding: 5px 10px;

    color: vars.$accent;
    border-radius: vars.$border-radius;
    background: rgba($color: vars.$accent, $alpha: 30%);
}