.Contacts {
    display: flex;
    align-items: center;

    margin-top: 20px;
    column-gap: 20px;

    &__icon {
        display: none;

        @media (width >=380px) {
            display: block;
        }
    }
}